<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutFragment/layout}">
<div layout:fragment="content" class="userForm" style="margin-bottom: 100px;">

    <form method="post" th:action="@{/admin/uploadProc}" enctype="multipart/form-data">


        <div class="btn-group">
            <select class="form-select form-select-lg mb-3" aria-label="Large select example" required name="ImpYear">

                    <li><option class="dropdown-item"value="" selected hidden>연도</option></li>
                    <li><option class="dropdown-item"value="2015">2015</option></li>
                    <li><option class="dropdown-item"value="2016">2016</option></li>
                    <li><option class="dropdown-item"value="2017">2017</option></li>
                    <li><option class="dropdown-item"value="2018">2018</option></li>
                    <li><option class="dropdown-item"value="2019">2019</option></li>
                    <li><option class="dropdown-item"value="2020">2020</option></li>
                    <li><option class="dropdown-item"value="2021">2021</option></li>
                    <li><option class="dropdown-item"value="2022">2022</option></li>
                    <li><option class="dropdown-item"value="2023">2023</option></li>


            </select>
            <select class="form-select form-select-lg mb-3" aria-label="Large select example" required name="category">

                    <option class="dropdown-item"value="" selected hidden>사험 종류</option>
                    <option class="dropdown-item"value="1a">1급전문스포츠지도사</option>
                    <option class="dropdown-item"value="2a">2급전문스포츠지도사</option>
                    <option class="dropdown-item"value="1b">1급생활스포츠지도사</option>
                    <option class="dropdown-item"value="2b">2급생활스포츠지도사</option>
                    <option class="dropdown-item"value="c">건강운동관리사</option>
                    <option class="dropdown-item"value="d">노인스포츠지도사</option>
                    <option class="dropdown-item"value="e">유소년스포츠지도사</option>
                    <option class="dropdown-item"value="1f">1급장애인스포츠지도사</option>
                    <option class="dropdown-item"value="2f">2급장애인스포츠지도사</option>

            </select>
            <select class="form-select form-select-lg mb-3" aria-label="Large select example" required name="type" id="typeSelect">

                   <option class="dropdown-item" value="" selected hidden>시험/답지</option>
                   <option class="dropdown-item" value="test">문제</option><option class="dropdown-item" value="answer">답안</option>

            </select>
            <select class="form-select form-select-lg mb-3" aria-label="Large select example" required name="form" id="formSelect">

                    <option class="dropdown-item" value="" selected hidden>A형/B형</option>
                    <option class="dropdown-item" value="A">A형</option>
                    <option class="dropdown-item" value="B">B형</option>

            </select>
        </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">pdf file</label>
                <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="test file"
                       name="testFile">
                <div id="emailHelp" class="form-text">시험 파일을 업로드 하세요</div>
            </div>


            <button type="submit" class="btn btn-primary">등록</button>
    </form>

</div>
</html>