<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutFragment/layout}">

<div layout:fragment="content" style="margin-left: 10%; margin-right: 10%; margin-top: 30px;" >
    <h1 th:if="${code.equals('question')}">질문 게시판</h1>
    <h1 th:if="${code.equals('qna')}">문의사항</h1>
    <h1 th:if="${code.equals('free')}">자유 게시판</h1>
    <h1 th:if="${code.equals('notice')}">공지사항</h1>

<hr>

    <div style="margin-left: 50%; margin-bottom: 10px">
        <form class="d-flex" role="search" th:action="@{/board/list}" method="get">
            <select class="form-select form-select-sm" aria-label="Small select example" name="type" th:field="${search.type}">
                <option value="all">전체</option>
                <option value="title">제목</option>
                <option value="writer">글쓴이</option>
                <option value="content">내용</option>
            </select>
            <input type="text" id="search_kw" name="search" class="form-control" th:field="${search.search}">
            <input type="hidden" name="code" th:value="${code}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

        <table class="table">
            <thead class="table-primary">
            <tr class="text-center board-table">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
                <th>수정일시</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center board-table" th:each="boardData , loop : ${paging}" th:object="${boardData}">
                <!--<td style="background-color: $teal-200;" th:text="${loop.count}"></td>-->
                <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{writer}"></td>
                <td th:text="*{createDate}"></td>
                <td th:text="*{modifyDate}"></td>
                <td>수정</td>
                <td>삭제</td>
            </tr>
            </tbody>
        </table>
    <div class="col-6">
        <a th:href="@{|/board/create?code=${code}|}" class="btn btn-primary">글쓰기</a>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|/board/list?code=${code}&page=${paging.number-1}|}" th:data-page="${paging.number-1}">
                    <span><</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-3 and page <= paging.number+3}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|/board/list?code=${code}&page=${page}&type=${search.type}&search=${search.search}|}"
                   th:data-page="${page}"></a>

            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|/board/list?code=${code}&page=${paging.number+1}&type=${search.type}&search=${search.search}|}" th:data-page="${paging.number+1}">
                    <span>></span>
                </a>

            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

</div>

</html>
<!--
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" th:href="@{|/board/list?code=${code}&page=0|}">1</a></li>
        <li class="page-item"><a class="page-link" th:href="@{|/board/list?code=${code}&page=1|}">2</a></li>
        <li class="page-item"><a class="page-link" th:href="@{|/board/list?code=${code}&page=2|}">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
-->
