<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutFragment/layout}">

<div layout:fragment="content" style="margin-left: 10%; margin-right: 10%; margin-top: 30px;" >
    <h1 th:if="${code.equals('question')}">질문 게시판</h1>
    <h1 th:if="${code.equals('qna')}">문의사항</h1>
    <h1 th:if="${code.equals('free')}">자유 게시판</h1>
    <h1 th:if="${code.equals('notice')}">공지사항</h1>

<hr>
        <div class="row my-3">
            <div class="col-6">
                <a th:href="@{|/board/create?code=${code}|}" class="btn btn-primary">글쓰기</a>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <select class="form-select form-select-sm" aria-label="Small select example">
                        <option value="3">전체</option>
                        <option value="1">제목</option>
                        <option value="2">글쓴이</option>
                        <option value="3">내용</option>
                    </select>
                    <input type="text" id="search_kw" class="form-control" >
                    <button type="button" class="btn btn-success" style="margin: 0;">검색</button>
                </div>
            </div>
        </div>

        <table class="table">
            <thead class="table-primary">
            <tr class="text-center board-table">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
                <th>수정일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center board-table" th:each="boardData : ${boardDataList}" th:object="${boardData}">
                <td style="background-color: $teal-200;">n</td>
                <td th:text="*{title}"></td>
                <td th:text="*{id}"></td>
                <td th:text="*{createDate}"></td>
                <td th:text="*{modifyDate}"></td>
            </tr>
            </tbody>
        </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" th:href="@{|/board/list?code=${code}&page=0|}">1</a></li>
            <li class="page-item"><a class="page-link" th:href="@{|/board/list?code=${code}&page=1|}">2</a></li>
            <li class="page-item"><a class="page-link" th:href="@{|/board/list?code=${code}&page=2|}">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>




</div>

</html>