<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutFragment/layout}">

<div layout:fragment="content" style="margin-left: 10%; margin-right: 10%; margin-top: 30px;">

    <h1 th:if="${code.equals('question')}">질문 작성</h1>
    <h1 th:if="${code.equals('qna')}">문의 작성</h1>
    <h1 th:if="${code.equals('free')}">게시글 작성</h1>
    <h1 th:if="${code.equals('notice')}">공지사항 등록</h1>

    <hr>

    <form method="post" th:action="@{/board/create}">

        <input type="hidden" name="code" th:value="${code}"/>
        <input type="hidden" name="writer" th:value="${session.memberEmail}"/>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" name="title"  id="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content"  id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
    <!--<a th:href="@{/question/create}" class="btn btn-primary"  sec:authorize="hasAuthority('ROLE_ADMIN')">질문 등록하기</a>-->
</div>

</html>