<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="headerFragment">

    <header>
        <div class="header bg-dark">
            <a class="navbar-brand" th:href="@{/}">로고</a>
            <div>
                <!--로그인 되어있는경우-->
                <a class="navbar-brand"  th:href="@{/user/login}">로그인</a>
                <a class="navbar-brand"  th:href="@{/user/join}">회원가입</a>

                <!--로그아웃 되어있는경우-->
                <a class="navbar-brand"  th:href="@{/#}">로그아웃</a>
                <a class="navbar-brand"  th:href="@{/#}">마이페이지</a>

            </div>
        </div>
    </header>



</section>
</html>