<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="navbarFragment">

    <div th:if="${menus != null}">
    <nav class="nav justify-content-center nv-bgc">
        <div th:each="menu : ${menus}" >

            <a th:if="${!menu.key.equals(code)}" class="nav-link nav-a" th:href="@{${menu.value.get(1)}}" >[[${menu.value.get(0)}]]</a>
            <a th:if="${menu.key.equals(code)}" class="nav-link nav-a" th:href="@{${menu.value.get(1)}}" style="background-color: white; color: #005B99;">[[${menu.value.get(0)}]]</a>

        </div>
    </nav>
    </div>

    <div th:if="${menus == null}">
        <nav class="nav justify-content-center nv-bgc">
                <a class="nav-link nav-a" aria-current="page">환영합니다.</a>
        </nav>
    </div>

</section>
</html>