<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutFragment/layout}">
<div layout:fragment="content" class="userForm" style="margin-bottom: 100px;">

    <form th:action="@{/user/loginProc}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">id</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email" name="username">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호" name="password">
        </div>


        <button type="submit" class="btn btn-primary">로그인</button>



    </form>

</div>
</html>